body{
    background-color:peru;
}

h1{
    color:#34495e;
}

.clicked {
    color : pink;
}

.form,
.greeting {
    display : none;
}
.showing {
    display : block;
}
h4{
    color:#34495e;
}